<a id="toc"></a>
<h1>Pipes</h1>
<a href="#power-booster">Power Booster custom pipe</a><br>
<a href="#power-boost-calc">Power Boost Calculator custom pipe with params</a><br>
<a href="#flying-heroes">Flying Heroes filter pipe (pure)</a><br>
<a href="#flying-heroes-impure">Flying Heroes filter pipe (impure)</a><br>

<hr>
<a id="power-booster"></a>
<app-power-booster></app-power-booster>

<hr>
<a id="power-boost-calc"></a>
<app-power-boost-calculator></app-power-boost-calculator>

<hr>
<a id="flying-heroes"></a>
<app-flying-heroes></app-flying-heroes>

<hr>
<a id="flying-heroes-impure"></a>
<app-flying-heroes-impure></app-flying-heroes-impure>
